In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from datetime import datetime
from pygini import gini

In [2]:
schulde_data = pd.read_csv(r"C:\Users\uriit\Downloads\surgeries.csv")

In [3]:
schulde_data.head()

   Unnamed: 0                start                  end
0           0  2023-04-25 07:00:00  2023-04-25 07:15:00
1           1  2023-04-25 07:00:00  2023-04-25 07:30:00
2           2  2023-04-25 07:00:00  2023-04-25 07:30:00
3           3  2023-04-25 07:00:00  2023-04-25 07:30:00
4           4  2023-04-25 07:00:00  2023-04-25 07:45:00

In [4]:
schulde_data.shape

(114, 3)

In [5]:
schulde_data.describe()

       Unnamed: 0
count  114.000000
mean    56.500000
std     33.052988
min      0.000000
25%     28.250000
50%     56.500000
75%     84.750000
max    113.000000

In [6]:
schulde_data.dtypes

Unnamed: 0     int64
start         object
end           object
dtype: object

In [7]:
schulde_data.start.nunique(), schulde_data.end.nunique()

(50, 47)

In [8]:
schulde_data["start_time"] = schulde_data["start"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
schulde_data["end_time"] = schulde_data["end"].apply(lambda x : datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [9]:
len({})

0

In [10]:
def find_alocate_sergent(sergent_list,ind,start_time,schulde_data):
    if len(sergent_list) == 0:
        return 0
   
    free_time = start_time
    sergent_number  = np.max(list(sergent_list.keys())) + 1 
    for k,v in enumerate(sergent_list):
        dict_ind = np.max(v)
        if free_time > schulde_data["end_time"].loc[np.max(sergent_list[k])]:
            sergent_number = k 
            free_time = schulde_data["end_time"].loc[np.max(sergent_list[k])]
    return sergent_number

In [11]:
sergent_list = {}
for ind in range(len(schulde_data)):
    start_time = schulde_data.start_time.iloc[ind]
    sergent_num = find_alocate_sergent(sergent_list,ind,start_time,schulde_data)

    if sergent_num not in sergent_list:
        sergent_list[sergent_num] = []
    sergent_list[sergent_num] += [ind]

In [12]:
schulde_data['duration'] = schulde_data["end_time"] - schulde_data["start_time"]
sergent_list

{0: [0, 12, 20, 28, 37, 57, 65, 76, 100],
 1: [1, 15, 27, 38, 46, 69, 96, 112],
 2: [2, 16, 29, 42, 70, 79, 90],
 3: [3, 17, 31, 49, 59, 73, 98, 108],
 4: [4, 21, 32, 45, 71, 87, 109],
 5: [5, 23, 39, 53, 60, 78, 88, 97],
 6: [6, 30, 40, 47, 54, 72, 89, 101],
 7: [7, 35, 55, 68, 80, 92, 102],
 8: [8, 18, 33, 61, 84, 107],
 9: [9, 19, 25, 43, 56, 74, 83, 104],
 10: [10, 24, 48, 58, 66, 91, 99],
 11: [11, 34, 44, 64, 85, 110],
 12: [13, 22, 36, 50, 62, 77, 93, 105],
 13: [14, 26, 41, 67, 82, 106],
 14: [51, 63, 81, 94, 111],
 15: [52, 75, 86, 103],
 16: [95, 113]}

In [13]:
sergent_array = pd.DataFrame(columns=['sergent'],index = schulde_data.index)
for k,v in  sergent_list.items():
    sergent_array.loc[v] = k
schulde_data['sergent'] = sergent_array['sergent']

In [14]:
schulde_data.duration.iloc[0] + schulde_data.duration.iloc[1]

Timedelta('0 days 00:45:00')

In [24]:
zero_time = schulde_data.duration.iloc[0] -schulde_data.duration.iloc[0]
serget_hours = {}
for sername, ser_data in schulde_data.groupby('sergent'):
    time_sum = zero_time
    for t in ser_data.duration.values:
        time_sum += t
    serget_hours[sername] = time_sum

In [ ]:
# except number 16 all sergent are valid

In [ ]:
# we will move sergent from nubmer 8